// Used by various settings components

// Change syles within all componentts
#settingsPage{

	h2{
		margin: 0;
		padding: 0;
	}

	// Add padding around field setting rows
	.basic-field{
		padding: 8px 0;
	}
}

// Spacing for Individual groups of settings
.settings-group{
	margin: 10px auto 30px auto;
	padding-bottom: 60px;
}

// Clickable pencil icon button
// On settings pages and in components
.edit-preference{
	color: var(--text);
	opacity: 0.5;
	margin: 0 0 0 5px;
	padding: 0px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.3px;
	transition: 0.1s ease;
	text-align: left;
	width: fit-content;

	&:hover{
		cursor: pointer;
		text-decoration: none;
		opacity: 1;
		color: var(--primary);
	}
}



// Edit boxes used for editing username, email
.edit-setting-form{
	background-color: var(--backgroundLayer);
	border: 1px solid var(--border);
	box-sizing: border-box;
	padding: 10px;
	border-radius: var(--borderRadiusSmall);
	display: flex;
	flex-direction: column;
	max-width: 340px;
	width: 100%;
	margin-top: 12px;

	// Full width on mobile
	@media (max-width: @screenSM) {
		max-width: none;
	}

	// Cancel/Save buttons
	.account-field-buttons{
		display: flex;
		justify-content: space-between;
	}

}


// Horizontal row layout for toggles
.setting-toggle{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 400px;
	padding: 10px 0;
	position: relative;

	@media (max-width: @screenMD) {
		width: 100%;
	}

	.setting-toggle-input{
		display: block;
		padding-right: 15px;
	}	
}


// Large setting label with small text below
// Used for toggles on settings
.setting-label-large{
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.3px;
	display: block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 16px;
	letter-spacing: 0.4px;
	font-weight: 600;

	small{
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		padding-top: 2px;
		font-family: var(--systemFont);
	}
}


// Username validator
.username-check{
	display: block;
	width: 100%;
	position: absolute;
	top: 100%;
	overflow: visible;
	height: 40px;
	pointer-events: none;
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	padding-top: 2px;
	z-index: 1;

	// Fix padding on mobile
	@media (max-width: @screenMD) {
		height: 50px;
	}

	i{
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 20px;
		padding: 0 12px 2px 0;
		box-sizing: border-box;

		&.fa-check-circle{
			color: var(--green);
		}
		&.fa-times-circle{
			color: var(--red);
		}

		// Increase size on mobile
		@media (max-width: @screenMD) {
			font-size: 24px;
		}
	}
}
// If the username input is focused on mobile, hide check
// Keyup doesn't work on mobile, so it's not accurate until blur
@media (max-width: @screenMD) {
	input:focus{
		+ label .username-check{
			display: none;
		}
	}
}

// Save/submit button on various forms 
.save-setting-button{
	margin-top: 12px;
	@media (max-width: @screenSM) {
		display: block;
		margin-left: auto;
		margin-right: auto;
		
	}
}